:root {
    --clr-blue: #00bcd5;
    --clr-yellow: #fdc006;
    --clr-black: #3b3636;
    --clr-grey: #748b97;
    --clr-white: #ffffff;
    --font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    --transition: all 0.3s ease-in-out;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family);
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.nav {
    padding: 1rem;
}

.nav__list {
    display: flex;
    gap: 0.5rem;
}

.nav__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
}

.nav__link {
    color: var(--clr-black);
    transition: var(--transition);
}

.nav__link:hover {
    color: #000;
}

.active {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 54px);
}

.posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 0;
}

.post {
    border-radius: 0.5rem;
    background-color: var(--clr-white);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition: var(--transition);
    cursor: pointer;
}

.post:hover {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.post__img {
    position: relative;
}

.post__img img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.post__img-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.post:hover .post__img-overlay {
    display: flex;
    opacity: 1;
}

.post__btn {
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: 1.5rem;
    color: var(--clr-white);
    cursor: pointer;
}

.post__content {
    padding: 2rem;
}

.post__bullets {
    display: flex;
    gap: 0.5rem;
}

.post__bullet {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.post__bullet-blue {
    background-color: var(--clr-blue);
}

.post__bullet-yellow {
    background-color: var(--clr-yellow);
}

.post__text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.post__title {
    color: var(--clr-black);
    font-size: 1.5rem;
    font-weight: 900;
    padding-top: 1rem;
}

.post__description {
    color: var(--clr-grey);
    line-height: 1.3;
}

.post__attribution {
    display: flex;
    justify-content: space-between;
    color: var(--clr-grey);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.modal__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    background-color: var(--clr-white);
    border-radius: 0.5rem;
}

.show__modal {
    animation: zoomIn 0.5s ease-in-out;
}

.modal__header {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
}

.modal__btn {
    border: none;
    background-color: transparent;
    padding: 0.5rem;
    font: inherit;
    color: var(--clr-grey);
    cursor: pointer;
    transition: var(--transition);
}

.modal__btn:hover {
    color: var(--clr-black);
}

.modal__img {
    width: 100%;
    /* height: 40%; */
}

.modal__img img {
    width: 100%;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
}

.modal__text {
    display: grid;
    gap: 0.5rem;
    padding: 1.5rem 2rem;
    font-size: 0.875rem;
}

.modal__title {
    color: var(--clr-black);
    font-size: 1.2rem;
    font-weight: 900;
}

.modal__description {
    color: var(--clr-grey);
    line-height: 1.3;
}

.modal__footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--clr-grey);
}

.modal__footer img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.analytics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.analytics__heading {
    font-size: 1.5rem;
    color: var(--clr-black);
    padding-bottom: 2rem;
}

.analytics__table {
    border-collapse: collapse;
}

th {
    color: var(--clr-black);
    font-size: 1.15rem;
}

th,
td {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tbody tr {
    cursor: pointer;
    transition: var(--transition);
}

tbody tr:hover {
    background-color: #eee;
}

.analytics__post-title {
    text-align: left;
}


@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .posts {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {
    .posts {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        justify-content: flex-start;
    }

    .post__title {
        font-size: 1.5rem;
    }
}

@media (max-width: 640px) {
    .post__title {
        font-size: 1.3rem;
    }
    
    .post__attribution {
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5rem;
    }
}

